.container {
  padding-left: 200px;
  padding-right: 200px;
}

.form {
  margin-top:25%;
  background-color: lightgray;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 173px;
  padding-right: 212px;
  box-shadow: 10px 10px 8px black;
}

